/* .navContainer {
    display: flex;
    justify-content: space-around; 
    background-image: linear-gradient(rgb(233, 158, 18), rgb(141, 96, 13));
    width: 100%;
    padding: 2.5%;
} */

.navContainer {
    width: 100%;
    max-width: 100%px;
    margin: 0 auto;
    padding: 2.5%;
    background-image: linear-gradient(rgb(233, 158, 18), rgb(141, 96, 13));
}

.divTitle {
    max-width: 50%;
}

.search {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 50%;
    max-width: 300px;
}

nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    font-size: 100%;
    /* margin-left: 40%; */
}

nav p {
    color: rgb(41, 27, 2);
    /* font-size: 110%;
    font-weight: bold;
    cursor: pointer;
    margin-top: 25%;
    margin-left: 5%; */
}

nav p:hover {
    color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
    .navbar {
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .search {
        margin: 0;
    }

    nav {
        margin-top: 0;
    }
}