.divModalBtn {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1%;
    padding-top: 5%; 
}


.divModalBtn {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1%;
    padding-top: 5%; 
}

.divModalBtn button {
    margin-top: 2%;
    width: 50%;
}

.formModal {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}