footer {
    /* background-color: rgb(141, 96, 13); */
    background-image: linear-gradient(rgb(233, 158, 18), rgb(141, 96, 13));
    width: 100%;
    padding: .2%;
    text-align: center;
    margin-top: 6%;
    border-top: 1px solid black;
}

footer h3 {
    margin: auto;
    width: 7%;
    color: rgb(41, 27, 2);
    font-weight: bold;
    font-size: 135%;
    cursor: pointer;
}

footer h3:hover {
    color: rgb(10, 7, 0);
}