@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', 'cursive';
    --fonte3: 'Sriracha', 'cursive';
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgb(176, 150, 86), rgb(223, 191, 110));
}

.navbar {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: .5%;
    background-image: linear-gradient(rgb(233, 158, 18), rgb(141, 96, 13));
    border-bottom: 1px solid black;
}

.main {
    background-color: white;
    width: 90%;
    height: 100%;
    box-shadow: 0px 0px 3px 0px black;
    border-radius: 7px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-bottom: 10%;
}

.formDiv {
    width: 100%;
    padding-left: 5%;
}

.formDiv label {
    font-size: 20px;
}

.formDiv input {
    font-size: 15px;
    border: 1px solid black;
}

.div_genders {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-left: 10%;
}

.div_genders input {
    border: 1px solid black;
}

.divBtn {
    margin-top: 8%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 50%;
}

.linkNone {
    text-decoration: none;
    color: inherit;
}
