* {
    margin: 0;
    padding: 0;
}

.container {
    width: 95.25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container nav {
    height: 30%;
    width: 100%;
}