* {
    margin: 0;
    padding: 0;
}

.container {
    width: 95.25%;
    height: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-around; 
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 2.5%;
    background-image: linear-gradient(rgb(233, 158, 18), rgb(141, 96, 13));
    border-bottom: 1px solid black;
}

section {
    background-color: rgb(223, 191, 110);
    color: white;
    text-align: center;
    width: 105%;
    margin: auto;
}

section > h1 {
    padding: 5%;
    font-size: 3vw;
    padding: 8%;
}

.banner {
    height: 50%;
    background-color: rgb(249, 184, 93);
}

/* @media (max-width: 70%) {
    .navbar {
        width: 100%;
        padding: 2%;
    }
}

@media (max-width: 40%) {
    .navbar {
        font-size: 80%;
        padding: 1%;
    }
} */